# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
.metadata/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Tomcat
Servers/

# Build files
*.war
*.ear